* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "Fira Code";
	src: local("FiraCode Nerd Font"), url("fonts/Fira Code Regular Nerd Font Complete.woff2"), local("monospace");
	font-display: swap;
}

:root {
	--bg-color: #282a36;
	--search-input-color: #f8f8f2;
	--search-btn-color: #6272a4;
	--light-color: hsl(0, 0%, 86%);
	--light-dim-color: hsl(0, 0%, 70%);
	--primary-color: #50fa7b;
	--primary-dim-color: hsl(135, 94%, 34%);
	--secondary-color: rgb(189, 147, 249);
	--secondary-dim-color: hsl(265 89% 70%);
	--third-color: #44475a;
	--warning-color: #ffb86c;
	--danger-color: #ff5555;
	--danger-dim-color: hsl(0, 100%, 50%);
	--container-max-height: 400px;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: var(--bg-color);
	font-family: "Fira Code", monospace;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 80%;
	height: var(--container-max-height);
	display: flex;

	border-radius: 0px;
	border: 0.125rem solid var(--primary-color);
	box-shadow: 12px 12px 0px var(--search-btn-color);
}

/* --------------------------------------- */
/* cover-img and timer */
.img-holder {
	max-width: 17em;
	width: 30%;
	margin-bottom: 0;
	overflow: hidden;
	position: relative;
}

.img-holder img {
	object-fit: cover;
	filter: blur(2px);
	opacity: 0.6;
	width: 17em;
	height: var(--container-max-height);
}

.img-holder #time {
	width: auto;
	padding: 0;
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	color: var(--light-color);
	font-size: 4rem;
}

.time-container {
	position: relative;
}

/* --------------------------------------- */
/* searchbox */
.searchbox {
	width: 100%;
	display: flex;
	margin-bottom: 1em;
}

.searchbox input {
	font-size: 1rem;
	font-family: "Fira Code", monospace;
	width: 100%;
	padding: 0.7em;
	color: var(--search-input-color);
	background-color: var(--bg-color);
	border: none;
	outline: none;
}

.searchbox:focus-within {
	outline: 1px var(--secondary-color) solid;
}

.searchbox button {
	font-size: 1rem;
	font-family: "Fira Code", monospace;
	padding: 0 1em;
	color: var(--search-btn-color);
	background-color: var(--bg-color);
	border: none;
	outline: none;
	transition: background-color 0.4s ease;
}

.searchbox button:focus-visible,
.searchbox button:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.1);
}

/* --------------------------------------- */
/* main */
.main {
	color: var(--light-color);
	position: relative;
	width: 100%;
	padding: 1.5em;
	background-color: hsla(232, 14%, 31%, 0.3);
	overflow: auto;
	scrollbar-color: var(--secondary-color) var(--third-color);
	scrollbar-width: thin;
}

.main h1 {
	color: var(--primary-color);
}

.main h2 {
	color: var(--primary-dim-color);

	margin-bottom: 1em;
}

/* --------------------------------------- */
/* info icons */
.nav-icons {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	gap: 0.5em;
	cursor: pointer;
	transition: all 0.25s ease-out;
	opacity: 0.35;
}

.nav-icons:hover {
	opacity: 1;
}

.nav-icons span:hover {
	transform: scale(1.2);
}

/* --------------------------------------- */
/* bookmarks */
.bookmarks {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	gap: 3rem;
}

.bookmarks h3 {
	color: var(--light-dim-color);
}

.bookmarks a {
	text-decoration: none;
	color: var(--secondary-color);
	padding: 0.5em;
	padding-left: 0;
	position: relative;
	outline: none;
}

.bookmarks a:hover,
.bookmarks a:focus-visible,
.bookmarks a:active {
	color: var(--primary-color);
}

.bookmarks a:before {
	content: "";
	transition: all 0.25s ease-in-out;
	opacity: 0;
}

.bookmarks a:hover::before,
.bookmarks a:focus-visible::before {
	content: "\0ea9c";
	position: absolute;
	left: -1rem;
	opacity: 1;
}

.bookmarks-row {
	display: flex;
	flex-direction: column;
}

/* --------------------------------------- */
/* Input */
.input-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.form-checkbox {
	display: grid;
	grid-template-columns: 1em auto;
	gap: 0.5em;
}

.form-checkbox label {
	padding-top: 2px;
}

.input-field {
	font-size: 1rem;
	font-family: "Fira Code", monospace;
	padding: 0.7em;
	color: var(--search-input-color);
	background-color: var(--bg-color);
	border: none;
	outline: none;
}

textarea.input-field {
	resize: vertical;
}

.input-field:focus-within {
	outline: 1px var(--secondary-color) solid;
}

.input-button {
	font-size: 1rem;
	font-family: "Fira Code", monospace;
	padding: 0 1em;
	color: var(--search-btn-color);
	background-color: var(--bg-color);
	border: none;
	outline: none;
	transition: background-color 0.4s ease;
}

.input-button:focus-visible,
.input-button:hover {
	cursor: pointer;
	background-color: rgba(58, 34, 34, 0.1);
}

.btn-danger {
	background-color: var(--danger-color);
	color: var(--search-input-color);
}

.btn-danger:hover {
	cursor: pointer;
	background-color: var(--danger-dim-color);
}

/* --------------------------------------- */
::-webkit-scrollbar {
	width: 0.4em;
	height: 0.4em;
}

::-webkit-scrollbar-track {
	background-color: var(--third-color);
}

::-webkit-scrollbar-thumb {
	background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--secondary-dim-color);
}
